{% extends "loggedin.html" %}
{% block content %}
<div class="w3-container" style="margin-left:260px" id="showcase">
    <a href="{% url 'newapp:add_class' %}" style="text-decoration:none">Add <span class="glyphicon glyphicon-plus"></span></a>
    <table class="table table-hover">
        <thead>
        <th>Classes</th>
        <th>Standard</th>
        <th>Division</th>
        <th>Tuition Fee, Mess Fee, Bus Fee, Hostel fee</th>

        </thead>
        <tbody>
    {% for clas in classes %}
        <tr>
            <td><a href="{% url 'newapp:class_details' pk=clas.pk %}" style="text-decoration:none">{{clas.classes}}</a></td>
        <td>{{clas.standard}}</td>
        <td>{{clas.division}}</td>
            <td>{{clas.tuitionfee}}</td>

    </tr>
    {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}

